# ignore everything
/*

# exclude bitrix
/home/telecom-sb/telecomsb.ru/docs/bitrix
/home/telecom-sb/telecomsb.ru/docs/upload

# settings
!/.gitignore
!/home/telecom-sb/telecomsb.ru/docs/bitrix/templates/telecomsb_info



