

/*************************************************************************


                        G   E   N   E   R   A   L


*************************************************************************/


/*************************************************************************

                             C O M M O N S

*************************************************************************/


.page-content.services-page{}

@media (max-width: 640px){

.page-content.services-page{
	padding-bottom: 48px;
}

}



/*************************************************************************

                             C O M M O N S

*************************************************************************/


.services-page .top-section{
	margin-top: 56px;
	flex-grow: 1;
}

@media (max-width: 1440px){

.services-page .top-section{
	margin-top: 48px;
}

}

@media (max-width: 1024px){

.services-page .top-section{
	margin-top: 36px;
}

}

@media (max-width: 960px){

.services-page .top-section{
	margin-top: 16px;
}

}

.services-page .top-section>*{
	position: relative;
	align-items: stretch;
	flex-grow: 1;
}

.services-page .top-section .header{
	font-family: CeraProBold;
	font-size: 48px;
	line-height: 56px;
}

@media (max-width: 1024px){

.services-page .top-section .header{
	font-size: 32px;
	line-height: 40px;
}

}

.services-page .top-section .nav{
	display: none;
	position: absolute;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	pointer-events: none;
	width: 100%;
	left: 0;
	top: 50%;
	z-index: 1;
}

@media (max-width: 640px){

.services-page .top-section .nav{
	display: flex;
}

}

	.services-page .top-section .nav>*{
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background: url(/assets/img/next.svg) no-repeat center center/contain ,#7A80DF;
		cursor: pointer;
		-webkit-transition: background-color 200ms ease;
		-moz-transition: background-color 200ms ease;
		-ms-transition: background-color 200ms ease;
		transition: background-color 200ms ease;
		will-change: background-color;
		pointer-events: initial;
	}

	.services-page .top-section .nav>*.disabled{
		opacity: .5;
		cursor: default;
	}

	.services-page .top-section .nav>*+*{
		margin-left: 8px;
	}

	.services-page .top-section .nav>*.prev{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.is-not-touch .services-page .top-section .nav>*:hover{
		background-color: #FFC700;
	}
	
	.is-not-touch .services-page .top-section .nav>*:active,
	.is-touch .services-page .top-section .nav>*:active{
		background-color: #F3BE00;
	}

	.is-not-touch .services-page .top-section .nav>*.disabled:hover,
	.is-not-touch .services-page .top-section .nav>*.disabled:active,
	.is-touch .services-page .top-section .nav>*.disabled:active{
		background-color: #7A80DF;
	}

.services-page .top-section .list{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	margin: 48px 0 0;
	flex-grow: 1;
	z-index: 0;
}

@media (max-width: 1280px){

.services-page .top-section .list{
	margin-top: 40px;
}

}

@media (max-width: 1024px){

.services-page .top-section .list{
	margin-top: 32px;
}

}

@media (max-width: 960px){

.services-page .top-section .list{
	width: calc(100% + 40px);
	left: -20px;
	margin-top: 24px;
}

}

@media (max-width: 640px){

.services-page .top-section .list{
	margin: 16px auto 0;
}

}

	.services-page .top-section .list>*{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-start;
		flex-grow: 1;
	}

@media (max-width: 640px){

	.services-page .top-section .list>*{
		flex-wrap: nowrap;
	}

}

		.services-page .top-section .list>*>*{
			display: flex;
			flex-direction: row;
			position: relative;
			align-items: stretch;
			justify-content: flex-start;
			width: 20%;
			box-sizing: border-box;
			height: initial;
			border-right: 1px solid #C4C4C4;
			border-bottom: 1px solid #C4C4C4;
		}

		.services-page .top-section .list>*>*.last-of-max-line{
			border-right: none;
		}

		.services-page .top-section .list>*>*.last-line{
			border-bottom: none;
		}

	@media (max-width: 960px){

		.services-page .top-section .list>*>*{
			flex-basis: initial;
			width: 50%;
		}

	}

	@media (max-width: 640px){

		.services-page .top-section .list>*>*{
			width: 100%;
		}

		.services-page .top-section .list>*>*{
			border: none;
		}

	}

		.services-page .top-section .list>*>*>*{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			flex-grow: 1;
			flex-basis: 0;
			width: 100%;
			box-sizing: border-box;
			padding: 0 32px;
		}

	@media (max-width: 1600px){

		.services-page .top-section .list>*>*>*{
			padding: 0 24px;
		}

	}

	@media (max-width: 1280px){

		.services-page .top-section .list>*>*>*{
			padding: 0 32px;
		}

	}

	@media (max-width: 1024px){

		.services-page .top-section .list>*>*>*{
			padding: 0 24px;
		}

	}

	@media (max-width: 960px){

		.services-page .top-section .list>*>*>*{
			flex-basis: initial;
		}

	}

	@media (max-width: 640px){

		.services-page .top-section .list>*>*>*{
			padding-top: 0;
		}

	}

			.services-page .top-section .list .index{
				position: relative;
				font-size: 48px;
				line-height: 56px;
				font-family: CeraProBold;
				margin-top: 32px;
			}

			.services-page .top-section .list>*>*.first-line .index{
				margin-top: 0;
			}

		@media (max-width: 1280px){

			.services-page .top-section .list .index{
				font-size: 40px;
				line-height: 48px;
			}

		}

		@media (max-width: 1024px){

			.services-page .top-section .list .index{
				font-size: 32px;
				line-height: 40px;
			}

		}
		@media (max-width: 640px){

			.services-page .top-section .list .index{
				margin-top: 0;
			}

		}

				.services-page .top-section .list .index:before{
					content: '';
					display: block;
					position: absolute;
					left: -30px;
					top: 26px;
					width: 46px;
					height: 0;
					border-bottom: 3px solid #7A80DF;
				}

			@media (max-width: 1280px){

				.services-page .top-section .list .index:before{
					left: -34px;
					top: 22px;
				}

			}

			@media (max-width: 1024px){

				.services-page .top-section .list .index:before{
					left: -35px;
					top: 19px;
				}

			}

			.services-page .top-section .list .image{
				flex-grow: 1;
				margin: 56px 0;
				min-height: 310px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				width: 100%;
			}

		@media (max-width: 1600px){

			.services-page .top-section .list .image{
				margin: 24px 0;
			}

		}

		@media (max-width: 1350px){

			.services-page .top-section .list .image{
				min-height: 280px;
			}

		}

		@media (max-width: 1280px){

			.services-page .top-section .list .image{
				margin: 40px 0;
				min-height: 280px;
			}

		}

		@media (max-width: 1170px){

			.services-page .top-section .list .image{
				min-height: 180px;
			}

		}

		@media (max-width: 1024px){

			.services-page .top-section .list .image{
				margin: 32px 0;
			}

		}

		@media (max-width: 960px){

			.services-page .top-section .list .image{
				margin: 24px 0;
			}

		}

		@media (max-width: 640px){

			.services-page .top-section .list .image{
				max-width: 230px;
			}

		}

			.services-page .top-section .list .title{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				height: 135px;
				font-size: 24px;
				line-height: 32px;
				font-family: CeraProBold;
				text-align: center;
			}

			.services-page .top-section .list>*>*.last-line .title{
				height: 185px;
			}

		@media (max-width: 1600px){
		/*@media (max-width: 1024px){*/

			.services-page .top-section .list .title{
				font-size: 20px;
				line-height: 30px;
				height: 110px;
			}

			.services-page .top-section .list>*>*.last-line .title{
				height: 140px;
			}

		}

		@media (max-width: 1170px){

			.services-page .top-section .list .title{
				font-size: 18px;
				line-height: 26px;
				height: 85px;
			}

			.services-page .top-section .list>*>*.last-line .title{
				height: 125px;
			}

		}

		@media (max-width: 960px){

			.services-page .top-section .list>*>*.last-line .title{
				height: 85px;
			}

		}

		@media (max-width: 640px){

			.services-page .top-section .list .title{
				height: 60px;
			}

			.services-page .top-section .list>*>*.last-line .title{
				height: 60px;
			}

		}


